.c-social {
    &--sharing {
    ul {
      margin:0;
        list-style: none;
        li {
            display: inline;
            a {
                &:hover {
                    text-decoration: none;
                }
                svg {
                    width: 1.5rem;
                    height: 1.5rem;
                    fill: lighten($brand-color,25%);
                }
            }
        }
    }
}
}
