.c-splash {
  position:relative;
    background-image:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)),url(/assets/img/default.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     width: 100%;

  &__item {
  }
}
@include media-query($on-palm) {
  .c-splash__item {
    display:block;
  }
}
