.c-splash {
  position:relative;
    background-image:url(/assets/img/default.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* <= This one */
     width: 100%;
     z-index:-1;
     &:before {
       z-index: -1;
       top: 0;
     bottom: 0;
     left: 0;
     right: 0;
       content:'';
       position: absolute;
       background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1));
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
     }
  &__item {
  }
}
@include media-query($on-palm) {
  .c-splash__item {
    display:block;
  }
}
