.c-tags {
  .c-tag {
    font-family: -moz-fixed;
    font-size: 15px;
    padding: 0px 4px;
    border: 1px solid;
    border-radius:4px;
    @include badge($brand-color,false);
    background-color: $grey-color-light;
    text-decoration-line:none;
  &:hover {
    @include badge($accent-color);
  }
}
}
