{%- capture url_parts -%}
    {{ page.url | remove: "/index.html" | replace:'/'," " }}
{% endcapture %}
{% capture num_parts %}
    {{ url_parts | number_of_words | minus: 1 }}
{% endcapture %}
{% assign previous="" %}
{% assign pos = 1 %}

{% if page.layout == "post" or page.layout == "series" %}
    <ol class="o-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% assign pos = pos | plus: 1 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <meta itemprop="position" content="{{ pos }}"/>
            <a href="/blog" itemprop="item">
                <span itemprop="name">blog</span>
            </a>
        </li>
        {% unless num_parts == "0" or num_parts == "-1" %}
            {% for unused in page.content limit:num_parts %}
                &#187;
                {% capture current_part %}
                    {{- url_parts | truncatewords: 1 | remove: '...'	-}}
                {% endcapture %}
                {% capture prev_part %}
                    {{- prev_part }}/{{ current_part -}}
                {% endcapture %}
                {% assign current_name = site.data.series[current_part].display_name | default: current_part %}
                {% assign crumb_index = forloop.index | plus: pos %}
                {% include breadcrumb-item.html url=prev_part name=current_name index=crumb_index %}
                {% capture url_parts %}
                    {{- url_parts | remove_first: current_part -}}
                {% endcapture %}
            {% endfor %}
        {% endunless %}
    </ol>

{% endif %}