<footer id="site-footer" class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <span class="">{{ site.title | escape }}</span>
        <p>{{- site.tagline | escape -}}</p>
      </div>
      <div class="footer-col footer-col-2">
          {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
            {%- if site.author_email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.author_email }}</a></li>
            {%- endif -%}
        </ul>
      </div>
    </div>
  </div>
</footer>
