<footer id="site-footer" class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <span>{{ site.author }}</span><br/>
        <span>{{ site.tagline }}</span><br/>
        <a href="{{site.url}}">{{ site.title }}</a>
      </div>
      <div class="footer-col footer-col-2">
          {%- include social.html -%}
      </div>
      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li><a href="{{site.url | append: "/privacy" }}">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% include analytics-twitter.html %}
