<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  {% assign site_desc = "" %}
  {% if page.description %}
    {% assign site_desc =  page.description %}
  {% else %}
    {% assign site_desc = site.description %}
  {% endif %}
  <meta name="description" content="{{ site_desc }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
  <title>{% if page.title %}
      {{ page.title }}
      {{ site.title_sep }}
      {{ site.title }}
    {% else %}
        {{ site.title }}
        {{ site.title_sep }}
        {{ site.tagline }}
    {% endif %}</title>
    <link rel="canonical" href="https://cynolyc.us/">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  {%- feed_meta -%}
    {%- include analytics.html -%}
    {% if site.tags != "" %}
      {% include dogtags.html %}
    {% endif %}
</head>
