<span class="post-meta">
  {% if post.last_modified_at %}
  <time class="dt-published" datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="datePublished">
    Updated: {{ post.last_modified_at | date: date_format }}
  </time>
  {% else %}
  <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
    Created: {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {{ post.date | date: date_format }}
  </time>
  {% endif %}

  {% if post.series and include.hide_series != true %}
    • <span class="post-meta"> Series: <a href="/series/{{ post.series }}">{{ post.series }}</a></span>
  {% endif %}
  <h3>
    <a class="post-link" href="{{ post.url | relative_url }}">
      {% if include.alt_title %}
      {{include.alt_title}}
      {% else %}
      {{ post.title | escape }}
      {% endif %}
    </a>
  </h3>
</span>
{% if site.show_excerpts and include.hide_excerpt != true %}
  {{ post.excerpt }}
{% endif %}
