<div class="c-social">
    <a class="js-social__share" data-socialnetwork="Reddit" href="https://www.reddit.com/submit?url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | url_encode}}&title={{ page.title | append: site.title_sep | append: site.title | url_encode}}" target="_blank">
        {% include svg/social/icon-reddit.svg %}
    </a>
    <a class="js-social__share" data-socialnetwork="HackerNews" href="https://news.ycombinator.com/submitlink?u={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | url_encode}}&t={{ page.title | append: site.title_sep | append: site.title | url_encode}}" target="_blank">
        {% include svg/social/icon-hackernews.svg %}
    </a>
    <a class="js-social__share" data-socialnetwork="Twitter" href="https://twitter.com/intent/tweet?via={{ site.twitter_username }}&url={{ site.url }}{{ page.url | replace:'index.html','' | url_encode}}&text={{ page.title | append: site.title_sep | append: site.title | url_encode}}" target="_blank">
        {% include svg/social/icon-twitter.svg %}
    </a>
    <a class="js-social__share" data-socialnetwork="Facebook" href="http://www.facebook.com/sharer.php?u={{ site.url }}{{ page.url | replace:'index.html','' | url_encode }}&t={{ page.title | append: site.title_sep | append: site.title | url_encode}}" target="_blank">
        {% include svg/social/icon-fb.svg %}
    </a>
    <a class="js-social__share" href="https://www.linkedin.com/shareArticle?url={{ site.twitter_username }}&url={{site.url}}{{ page.url | replace:'index.html','' | url_encode}}&title={{ page.title | append: site.title_sep | append: site.title | url_encode}}" target="_blank">
        {% include svg/social/icon-linkedin.svg %}
    </a>
</div>
