
/***
* Base Colors
***/
$type-color: darken(rgb(78,201,176),20%);
$primitive-color: #0101fd;
$generic-color:  darken(rgb(170,221,150),20%);
$usertype-color:darken(rgb(130,210,150),20%);
$comment-color:  #d64;
$namespace-color: #006693;
$keyword-color: #0101fd;
$method-color: darken($brand-color,5%);

/***
* Language-specific Colors
* cl: Class
* ucl: userclass
* cm: comment
* k: keyword
* g: generic
* m: method
***/
$code-colors: (
// C#
  'csharp': (
    'cl':  $type-color,
    'ucl': $usertype-color,
    'cm': $comment-color,
    'k': $keyword-color,
    'g': $generic-color,
    'm': $method-color
  ),
  'razor': (
    'k':rgb(255,255,179)
  )
);
