img.o-banner, .o-banner__image {
    max-width: 100%;
    height: auto;
    overflow:hidden;
    width: 100%;
}
div.o-banner
{
  position:relative;
  color: white;
  border-radius: 7px;
  overflow:hidden;
  &:after {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  }
  .o-banner__headline {
    z-index:1;
    position: absolute;
    top: 2rem;
    margin: 0 1rem;
    .o-banner__subtitle {
      margin: 0 1.2rem;
    }
    .o-banner__hr {
      color: inherit;
      margin:0 1rem;
    }
  }
}
@include media-query($on-palm) {
  div.o-banner
  {
    color: $text-color;
    &:after {
      background: none;
    }
    .o-banner__headline {
      position: relative;
      top: unset;
      margin: unset;
    }
  }
}
