{% assign wordcount = page.content | number_of_words %}
<script type="application/ld+json">
{
   "@context":"http://schema.org",
   "@type":"BlogPosting",
   "@id": "https://cynolyc.us{{ page.url }}",
   "name":"{{ page.title | escape }}",
   "headline":"{{ page.title | escape }}",
   "keywords":"{{ page.tags | join: ',' }}",
   "wordCount":"{{ wordcount }}",
   "url":"https://cynolyc.us{{ page.url }}",
   "datePublished":"{{ page.date | date_to_xmlschema }}",
   "dateModified":"{{ page.last_modified_at | date_to_xmlschema}}",
   "author":{
      "@type":"Person",
      "name":"Benjamin Sochor",
      "sameAs":[
        "https://twitter.com/cynolycus",
        "https://github.com/cynolycus"]
   },
   "publisher":{
     "@type":"Organization",
     "name":"cynolycus",
     "sameAs":[
       {%- if site.linkedin_username -%}"https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}", {%- endif -%}
       {%- if site.twitter_username -%}"https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}", {%- endif -%}
       "https://github.com/cynolycus"]
    },
   "mainEntityOfPage":{
      "@type":"BlogPosting",
      "@id":"https://cynolyc.us{{ page.url }}"
   }
}
</script>
