@import "vars/colors",
"vars/syntax",
 "functions",
 "mixins",
 "objects/code",
 "objects/buttons",
 "objects/avatar",
 "components/tags",
 "components/social",
 "breadcrumb";


 .jumbotron {
     border-color: $brand-color;
     text-align: center;
     overflow: hidden;
     color: $brand-color;
     padding: 5px;
     .page-heading {
       margin:0;
     }
 }
code {
  font-family: -moz-fixed;
  font-size: 15px;
  color:$grey-color-dark;
}
.highlighter-rouge pre.highlight{
  background-color:$background-color;
}
.footnotes{
  @include relative-font-size(0.7);
}
blockquote{
  @include relative-font-size(0.9);
}
hr.o-post__hr {
    display:block;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 150, from($brand-color), to($background-color));
    border:none;
    color:$background-color;
    height: 0.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
#markdown-toc{
    list-style: none;
    font-weight:bold;
    width: auto;
    ul {
      width:auto;
    }
    li {
      width: auto;
    }
    ul li {
          font-weight:normal;
          @include relative-font-size(0.9);
          list-style-type:none;
        ul li {
              @include relative-font-size(0.8);
            list-style-type:none;
          ul li {
            font-style: italic;
            list-style-type:none;
          }
        }
      }
    }

a:hover {
  color:$accent-color;
  text-decoration-line:none;
}
