@mixin code-badge ($lang, $type, $useBackground: true)
{
  $baseColor: code-color($lang, $type);
  @include badge($baseColor);
}
@mixin badge ($baseColor, $useBackground: true)
{
  color:$baseColor;
  border-color: $baseColor;
  @if $useBackground {
    background-color: lighten($baseColor,40%);
  }
}
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.5,0,.075,1)) {
  transition: $property $duration $ease;
}
