{% include sharing.html %}
{% unless post %}
  {% assign post = page %}
{% endunless %}
{% if site.author %}
  <h3>By <a class="p-author" href="mailto:{{site.author_email}}">{{ site.author }}</a></h3>
{% endif %}
<p class="post-meta">
  {% unless include.hide_series %}
    {% include post/components/series.html %}<br/>
  {% endunless %}

  {% include post/components/date.html text="Published" date=page.date %}

  {% if page.last_modified_at %}
  • {% include post/components/date.html text="Updated" date=page.last_modified_at %}
  {% endif %}

  {% if page.applies_to %}
  <br/>{% include post/components/applies-to.html %}
  {% endif %}

  <br/>{% include post/components/wordcount.html %}
</p>
