---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html  -%}
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2G9W9S"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <main id="page-content" class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <div class="jumbotron">
            <h1 class="page-heading">Welcome to {{ site.title }}</h1>
            <p>{{ site.description }}</p>
            <hr class="o-post__hr"/>
            <div class="c-splash">
              {% include button/roller.html text="Blog" link="blog" %}
              {% include button/roller.html text="About" link="about" %}
              {% include button/roller.html text="Series" link="series" %}
            </div>
          </div>
          {{ content }}
        </div>
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
