---
layout: default
---
<article class="post">
  <header class="post-header">
    {% capture post_image %}{%- include post/image.md -%}{% endcapture %}
    {% if post_image %}
      <div class="o-banner">
        <img class="o-banner__image" src="{{post_image}}" alt="{{page.description | escape}}" title="{{page.title | escape }}">
        {% assign page_title = page.title | split: ":" | first %}
        {% assign page_subtitle = page.title | split: ":" | last %}
        <div class="o-banner__headline">
          <h1 class="post-title p-name ">{{ page_title | escape }}</h1>
        {% if page_subtitle %}
          <hr class="o-banner__hr"/>
          <h2 class="o-banner__subtitle">{{ page_subtitle | escape }}</h2>
        {% endif %}
        </div>
      </div>
    {% else %}
      <h1 class="post-title p-name">{{ page.title | escape }}</h1>
    {% endif %}
    {% include post/meta.html %}
  </header>
  <section class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </section>
  {% include tags.html %}
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
