---
layout: default

---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% assign seriesPosts = site.categories[page.slug] %}
  {% if seriesPosts.size > 0 %}
      <ul class="post-list">
      {% for post in seriesPosts %}
      <li>
        {% include post-excerpt-meta.html hide_series=true alt_title=post.series_subtitle %}
      </li>
      <hr class="o-post__hr"/>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
