---
layout: default
title_include: tag-title
---
{% assign other_tags = "" | split: "," %}
{% for tag_array in site.data.tag-hive %}
    {% if tag_array contains page.slug %}
        {% assign other_tags = other_tags | concat: tag_array %}
    {% endif %}
{% endfor %}
{% assign other_tags = other_tags | uniq %}
{% assign posts = site.posts | where: "tags", page.slug %}
<h1>{{posts.size}}
    posts filed under
    <small>{{ site.data.tags[page.slug] | default: page.slug }}</small>
</h1>
{% if other_tags.size > 0 %}
    <div>See also:
        {% include tags.html similar_tags=other_tags %}</div>
{% endif %}
{{page.content}}
{% if posts.size > 0 %}
    <ul class="c-post-list">
        {% for post in posts %}
            {% include post/excerpt-meta.html %}
            <hr class="o-post__hr">
        {%- endfor -%}
    </ul>
{% endif %}
